{% set content -%}
{% if api_client == 'telebot' -%}
from .bot import bot

def main():
    print("Bot is starting...")
    bot.infinity_polling()

if __name__ == "__main__":
    main()
{%- else -%}
import asyncio
from .bot import dp, bot

async def main():
    print("Bot is starting...")
    await dp.start_polling(bot)

if __name__ == "__main__":
    asyncio.run(main())
{%- endif %}
{%- endset -%}
{{ content | replace('\n', '\r\n') }}