{% set content -%}
{% if api_client == 'telebot' -%}
import telebot
import os

TOKEN = os.getenv("BOT_TOKEN")
bot = telebot.TeleBot(TOKEN)

@bot.message_handler(commands=["start"])
def start(message):
    bot.reply_to(message, "Hello, World!")

@bot.message_handler(func=lambda msg: True)
def echo_all(message):
    bot.reply_to(message, message.text)
{%- else -%}
import os
from aiogram import Bot, Dispatcher
from aiogram.filters import Command

TOKEN = os.getenv("BOT_TOKEN")
bot = Bot(token=TOKEN)
dp = Dispatcher()

@dp.message(Command("start"))
async def start(message):
    await message.reply("Hello, World!")

@dp.message()
async def echo_all(message):
    await message.reply(message.text)
{%- endif %}
{%- endset -%}
{{ content | replace('\n', '\r\n') }}