
# {{ project_name }}

![License](https://img.shields.io/badge/License-GPL%20v3.0-blue?style=for-the-badge)  ![Python](https://img.shields.io/badge/Language-Python-3670A0?style=for-the-badge&logo=python&logoColor=white)

### Short description

---

## Description
About {{ project_name }}

---

## Usage
1. **Install package:**
```bash
pip install git+https://github.com/{{ project_author }}/{{ project_name }}.git
```
2. **Run**:
```bash
python -m {{ package_name }}
```

---

## License

This project is distributed under the **GNU General Public License
v3.0**.\
See the `LICENSE` file for details.
