name: Build
on:
  workflow_dispatch:
    inputs:
      build_type:
        description: Select build type
        default: debug
        type: choice
        options:
          - debug
          - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: |
          npx vsce package

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: "*.vsix"

      - name: Extract version
        if: {% raw %}${{ inputs.build_type == 'release' }}{% endraw %}
        id: version
        run: |
          version=$(node -p "require('./package.json').version")
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Create Release
        if: {% raw %}${{ inputs.build_type == 'release' }}{% endraw %}
        uses: svenstaro/upload-release-action@v2
        with:
          file: {{ project_name }}-{% raw %}${{ steps.version.outputs.version }}{% endraw %}.vsix
          tag: v{% raw %}${{ steps.version.outputs.version }}{% endraw %}
          asset_name: {{ project_name }}-{% raw %}${{ steps.version.outputs.version }}{% endraw %}.vsix
          release_name: {% raw %}${{ steps.version.outputs.version }}{% endraw %}
          overwrite: true