
# {{ project_name }}

![License](https://img.shields.io/badge/License-GPL%20v3.0-blue?style=for-the-badge)  ![Platform](https://img.shields.io/badge/Platform-Android-3DDC84?style=for-the-badge&logo=android&logoColor=white)  ![Kotlin](https://img.shields.io/badge/Language-Kotlin-7F52FF?style=for-the-badge&logo=kotlin&logoColor=white)

### Short description

---

## Description
About {{ project_name }}

---

## Download the app
- You can get latest {{ project_name }} build via GitHub Releases: https://github.com/{{ project_author }}/{{ project_name | lower }}/releases

---

## Build
- To build the APK from source, run:

```bash
git clone https://github.com/{{ project_author }}/{{ project_name | lower }}.git
cd {{ project_name | lower }}
./gradlew assembleDebug
```
- The APK will be available in `app/build/outputs/apk/debug/`.

---

## License

This project is distributed under the **GNU General Public License
v3.0**.\
See the `LICENSE` file for details.
