# {{ project_name }}

![License](https://img.shields.io/badge/License-GPL%20v3.0-blue?style=for-the-badge)  ![Platform](https://img.shields.io/badge/Platform-JVM-007396?style=for-the-badge&logo=openjdk&logoColor=white)  ![Kotlin](https://img.shields.io/badge/Language-Kotlin-7F52FF?style=for-the-badge&logo=kotlin&logoColor=white)

### Short description

---

## Description
About {{ project_name }}

---

## Build
- To build the JAR from source, run:

```bash
git clone https://github.com/{{ project_author }}/{{ project_name | lower }}.git
cd {{ project_name | lower }}
./gradlew build
```
- The JAR will be available in `app/build/libs/{{ project_name }}.jar`.

---

## License

This project is distributed under the **GNU General Public License
v3.0**.\
See the `LICENSE` file for details.
