
# {{ project_name }}

![License](https://img.shields.io/badge/License-GPL%20v3.0-blue?style=for-the-badge)  ![JavaScript](https://img.shields.io/badge/Language-JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=white)

### Short description

---

## Description
About {{ project_name }}

---

## Download
- You can get latest extension build via GitHub Releases: https://github.com/{{ project_author }}/{{ project_name }}/releases

---

## Installation
- Run the following command:
```bash
code --install-extension path/to/extension.vsix
```

---

## Build
- To build the extension from source, run:

```bash
git clone https://github.com/{{ project_author }}/{{ project_name }}.git
cd {{ project_name }}
npm install
npx vsce package
```
- The `.vsix` file will be available in the project directory.

---

## License

This project is distributed under the **GNU General Public License
v3.0**.\
See the `LICENSE` file for details.
